@import url("../../assets/fonts/fonts.css");

$font-Georgia: Georgia, Serif;
$font-Arial: Arial, Sans-serif;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-dark-4xl: #000000;


$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1279px;


@mixin button($width) {
  width: $width;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: {
    family: $font-Georgia;
    size: 1.7rem;
  };
  letter-spacing: 0.06em;
  line-height: 130%;
  color: $color-dark-3xl;
  border: 2px solid $color-primary;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


* {
  cursor: default;
}

html {
  font: {
    size: 10px;
    family: $font-Georgia;
  };
  scroll-behavior: smooth;

  &.open {
    overflow: hidden;
  }

  &.openCard {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.site {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:link {
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.header {
  position: absolute;
  user-select: none; //us
  width: 100%;
}

.wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  @media (max-width: $desktop-width) {
    width: 100%;
  }

}

.wrapper_header {
  padding: 0 40px;
  margin-top: 60px;
  @media (max-width: $desktop-width) {
    padding: 0 30px;
    margin-top: 30px;
  }
  @media (max-width: $tablet-width) {
    padding: 0 53px 0 10px;
    margin-top: 30px;
  }
}

.logo {
  margin-right: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  .logo__title {
    cursor: pointer;
    font: {
      size: 3.2rem;
      weight: 400;
      style: normal;
    };
    margin: 0 0 10px 0;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
    @media (max-width: $desktop-width) {
      height: 35px;
    }
  }

  .logo__subtitle {
    cursor: pointer;
    font: {
      size: 1.3rem;
      family: $font-Arial;
    };
    line-height: 115%;
    letter-spacing: 0.1em;
  }

  color: $color-light-xl;
  text-align: center;
}


.navigation {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: $tablet-width) {
    z-index: 3;
    align-items: start;
    position: absolute;
    right: -320px;
    transition: right 0.5s, background 0.5s;
    height: 120vh;
    top: 0;
    background: $color-dark-3xl;
    &.open {
      right: 0;
    }
  }
}

.modal {
  position: fixed;
  visibility: hidden;
  min-height: 580px;
  width: 100%;
  height: 120vh;
  background: transparent;
  z-index: 3;
  transition: background 0.4s, visibility 0.4s;

  @media (max-width: $tablet-width) {
    display: unset;
    z-index: 3;
    &.open {
      visibility: visible;
      background: rgba(41, 41, 41, 0.6);
    }
  }

  &.openCard {
    visibility: visible;
    position: fixed;
    background: rgba(41, 41, 41, 0.6);
  }
}

.navigation__logo {
  display: none;
  -webkit-tap-highlight-color: transparent;
  @media (max-width: $tablet-width) {
    display: unset;
    z-index: 3;
  }
  position: absolute;
  top: 30px;
  left: 10px;
  margin-right: auto;
  cursor: pointer;

  .navigation__logo__title {
    cursor: pointer;
    font: {
      size: 3.2rem;
      weight: 400;
      style: normal;
    };
    margin: 0 0 10px 0;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
    @media (max-width: $tablet-width) {
      height: 35px;
    }
  }

  .navigation__logo__subtitle {
    cursor: pointer;
    font: {
      size: 1.3rem;
      family: $font-Arial;
    };
    line-height: 115%;
    letter-spacing: 0.1em;
  }

  color: $color-light-xl;
  text-align: center;
}

.navigation__menu {

  display: flex;
  list-style: none;
  column-gap: 36px;
  font: {
    size: 1.5rem;
    family: $font-Arial;
  };
  line-height: 160%;
  margin: unset;
  height: 27px;

  .navigation__item {
    position: relative;
    color: $color-dark-s;
    max-width: max-content;

    a {
      transition: color 0.3s;
    }

    &:not(:first-child) a:hover {
      color: $color-light-s;
    }

    &:first-child::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }

    &:first-child {
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      color: $color-light-s;
      @media (max-width: $tablet-width) {
        height: 54px;
      }
    }

    @media (max-width: $tablet-width) {
      height: 51px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: unset;
    flex-direction: column;
    width: 320px;
    font: {
      size: 3.2rem;
    };
    row-gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: start;
    margin-top: 248px;
    height: calc(100vh - 248px);
    overflow-y: auto;
    @media (max-height: 450px) {
      margin-top: 140px;
      height: calc(100vh - 140px);
    }
  }
}

.hamburger {
  -webkit-tap-highlight-color: transparent;
  display: none;
  max-height: 22px;
  width: 30px;
  flex-direction: column;
  row-gap: 8px;
  transition: transform 0.5s;
  cursor: pointer;

  &.open {
    transform: rotate(90deg);
    margin-right: 1px;
  }


  .line {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    cursor: pointer;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    align-self: center;
    z-index: 3;
  }
}

.button_primary {
  background-color: $color-primary;
}

.button_transparent {
  background-color: transparent;
}

.main {
  width: 100%;
}

.start-screen {
  user-select: none; //us
  //background: url('/../../assets/icons/noise_transparent@2x.png') repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  //background: url('../../assets/images/start-screen/start-screen-background.jpg') no-repeat;
  background: url('../../assets/icons/textures/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  .wrapper_start-screen {
    @media (max-width: $desktop-width) {
      display: flex;
      justify-content: center;
    }
  }

  .start-screen__content {
    margin: 180px 40px 0 40px;
    display: flex;
    column-gap: 42px;
    @media (max-width: $desktop-width) {
      margin: 150px 30px 0 30px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      row-gap: 100px;
      :last-child {
        align-self: end;
      }
      @media (max-width: $tablet-width) {
        row-gap: 105px;
        margin: 150px 10px 0 10px;
      }
    }
  }

  .start-screen__content__img {
    img {
      display: block;
      @media (max-width: $desktop-width) {
        max-height: 593px;
      }
      @media (max-width: $tablet-width) {
        max-height: 272px;
      }
    }
  }

  .start-screen__content__text {
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    @media (max-width: $desktop-width) {
      margin: unset;
      :last-child {
        align-self: center;
      }
    }
    @media (max-width: $tablet-width) {
      text-align: center;
    }


    .start-screen__content__text__title {
      max-width: 310px;
      font: {
        weight: 400;
        size: 4.4rem;
        family: $font-Georgia;
        style: normal;
      };
      line-height: 130%;
      color: $color-light-xl;
      margin: 0;
      @media (max-width: $desktop-width) {
        height: 114px;
      }
      @media (max-width: $tablet-width) {
        max-width: 260px;
        height: 64px;
        &:first-child {
          align-self: center;
        }
        font: {
          size: 2.5rem;
        };
        letter-spacing: 0.06em;
      }
    }

    .start-screen__content__text__subtitle {
      max-width: 460px;
      font: {
        weight: 400;
        size: 1.5rem;
        family: $font-Arial;
        style: normal;
      };
      line-height: 160%;
      color: $color-dark-s;
      @media (max-width: $tablet-width) {
        max-width: 300px;
      }
    }


    .start-screen__content__text__button {
      @include button(207px);

      &:hover {
        background-color: $color-primary-light;
      }
    }
  }
}


.about__content {
  user-select: none; //us
  margin: 80px 40px 100px 40px;
  display: flex;
  column-gap: 120px;
  justify-content: center;
  width: 100%;
  @media (max-width: $desktop-width) {
    flex-direction: column-reverse;
    align-items: center;
    column-gap: unset;
    row-gap: 80px;
  }
  @media (max-width: $tablet-width) {
    margin: 42px 10px 42px 10px;
    padding: 0 15px;
    row-gap: 42px;

  }
}

.about__content__img {
  img {
    display: block;
  }

  @media (max-width: $tablet-width) {
    max-width: 260px;
    img {
      width: 100%;
    }
  }
}

.about__content__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 14px 0;
  height: 380px;
  @media (max-width: $desktop-width) {
    margin: unset;

  }
  @media (max-width: $tablet-width) {
    row-gap: unset;
    height: unset;
    :nth-child(2) {
      margin-bottom: 22px;
    }
    align-items: center;
    max-width: 270px;
  }

  .about__content__text__title {
    font: {
      style: normal;
      weight: 400;
      size: 3.5rem;
    };
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    max-width: 370px;
    margin: unset;
    @media (max-width: $desktop-width) {
      height: 90px;
    }
    @media (max-width: $tablet-width) {
      font: {
        style: normal;
        weight: 400;
        size: 2.5rem;
      };
      text-align: center;
      margin-bottom: 25px;
      max-width: 290px;
      height: 64px;
    }
  }

  .about__content__text__description {

    font: {
      family: $font-Arial;
      style: normal;
      weight: 400;
      size: 1.5rem;
    };
    line-height: 160%;
    color: $color-dark-xl;
    max-width: 430px;
  }

  @media (max-width: $tablet-width) {
    text-align: justify;
    :last-child {
      height: 239px;
    }
  }
}

.pets {
  background-color: $color-light-l;
  user-select: none; //us
}

.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 40px 100px 40px;
  row-gap: 60px;
  width: 100%;
  @media (max-width: $desktop-width) {
    margin: 80px 30px 0 30px;
    padding-bottom: 100px;
  }
  @media (max-width: $tablet-width) {
    margin: 42px 0 0 0;
    row-gap: 42px;
    padding-bottom: 42px;
  }

  .pets__content__title {
    height: 90px;
    font: {
      style: normal;
      weight: 400;
      size: 3.5rem;
    };
    line-height: 130%;
    color: $color-dark-l;
    max-width: 400px;
    text-align: center;
    letter-spacing: 0.06em;
    margin: unset;
    @media (max-width: $tablet-width) {
      font: {
        size: 2.5rem;
      };
      height: 64px;
    }
  }

  .pets__content__button {
    @include button(261px);
    font: {
      weight: 400;
      size: 1.7rem;
    };
    line-height: 130%;
    letter-spacing: 0.06em;

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}

.pets__content__slider__all-cards {
  display: flex;
  column-gap: 90px;
  @media (max-width: $desktop-width) {
    column-gap: 40px;
  }
}


.pets__content__slider {
  display: flex;
  align-items: center;
  @media (max-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 37px;
    max-width: 270px;
  }


  .pets__content__slider__button {
    @include button(52px);

    &:first-child {
      background: url("../../assets/icons/pets/arrow_left.svg") no-repeat center;
      margin-right: 53px;
    }

    &:last-child {
      background: url("../../assets/icons/pets/arrow_right.svg") no-repeat center;
      margin-left: 53px;
    }

    @media (max-width: $desktop-width) {
      &:first-child {
        margin-right: 12px;
      }

      &:last-child {
        margin-left: 12px;
      }
    }
    @media (max-width: $tablet-width) {


      &:first-child {
        order: 2;
        margin: 20px 0 0 0;
        padding: unset;
      }

      &:last-child {
        order: 3;
        margin: 20px 0 0 0;
        padding: unset;
      }
    }

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  //Slider animations
  @keyframes sliderNext {
    49% {
      transform: translateX(calc(400%));
    }
    50% {
      transform: translateX(calc(-400%));
    }
  }
  @keyframes sliderPrevious {
    49% {
      transform: translateX(calc(-400%));
    }
    50% {
      transform: translateX(calc(400%));
    }
  }

  @media (max-width: $desktop-width) {
    @keyframes sliderNext {
      49% {
        transform: translateX(266%);
      }
      50% {
        transform: translateX(-266%);
      }
    }
    @keyframes sliderPrevious {
      49% {
        transform: translateX(-266%);
      }
      50% {
        transform: translateX(266%);
      }
    }
  }

  @media (max-width: $tablet-width) {
    @keyframes sliderNext {
      49% {
        transform: translateX(133%);
      }
      50% {
        transform: translateX(-133%);
      }
    }
    @keyframes sliderPrevious {
      49% {
        transform: translateX(-133%);
      }
      50% {
        transform: translateX(133%);
      }
    }
  }


  .pets__content__slider__card {
    background-color: $color-light-s;
    height: 435px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-radius: 9px;
    transition: background-color 0.3s, animation 0.8s;
    @media (max-width: $desktop-width) {
      &:last-child {
        display: none;
      }
    }
    @media (max-width: $tablet-width) {
      &:not(:first-child) {
        display: none;
      }
    }

    .pets__content__slider__card__img {
      img {
        height: 270px;
        width: 270px;
        display: block;
        border-radius: 9px 9px 0 0;
      }
    }

    .pets__content__slider__card__name {
      font: {
        weight: 400;
        size: 2rem;
      };
      text-align: center;
      letter-spacing: 0.06em;
      color: $color-dark-l;
      user-select: text; //usn
    }

    .pets__content__slider__card__button {
      @include button(187px);
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-xl;
      box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);

      img {
        cursor: pointer;
      }

      .pets__content__slider__card__name {
        cursor: pointer;
      }

      .pets__content__slider__card__button {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
      }
    }
  }
}

.help__content {
  user-select: none; //us
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px 40px 100px 40px;
  @media (max-width: $desktop-width) {
    max-width: 630px;
    margin: 80px auto 100px auto;
  }
  @media (max-width: $tablet-width) {
    max-width: 630px;
    margin: 42px auto 42px auto;
    row-gap: 42px;

  }


  .help__content__title {
    height: 90px;
    font: {
      weight: 400;
      size: 3.5rem;
      style: normal;
    };
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 310px;
    text-align: center;
    color: $color-dark-l;
    margin: 0 0 60px 0;
    @media (max-width: $tablet-width) {
      font: {
        size: 2.5rem;
      };
      max-width: 260px;
      margin: unset;
      height: 64px;
    }
  }

  .help__content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 120px;
    @media (max-width: $desktop-width) {
      column-gap: 60px;
    }
    @media (max-width: $tablet-width) {
      gap: 30px;
      max-width: 290px;
      justify-content: start;
    }
  }

  .help__content__list__card {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $desktop-width) {
      width: 170px;
    }
    @media (max-width: $tablet-width) {
      height: 87px;
      width: 130px;
    }


    .help__content__list__card__image {
      width: 60px;
      height: 60px;
      @media (max-width: $tablet-width) {
        width: 50px;
        height: 50px;
        background-size: contain !important;
      }
    }

    .help__content__list__card__name {
      font: {
        weight: 400;
        size: 2rem;
        style: normal;
      };
      line-height: 115%;
      letter-spacing: 0.06em;
      text-align: center;
      color: $color-dark-l;
      margin: unset;
      @media (max-width: $tablet-width) {
        font: {
          size: 1.5rem;
        };
      }
    }

    .pet_food {
      background: url("../../assets/icons/help/pet_food.svg") no-repeat center;
    }

    .transportation {
      background: url("../../assets/icons/help/transportation.svg") no-repeat center;
    }

    .toys {
      background: url("../../assets/icons/help/toys.svg") no-repeat center;
    }

    .bowls_and_cups {
      background: url("../../assets/icons/help/bowls_and_cups.svg") no-repeat center;
    }

    .shampoos {
      background: url("../../assets/icons/help/shampoos.svg") no-repeat center;
    }

    .vitamins {
      background: url("../../assets/icons/help/vitamins.svg") no-repeat center;
    }

    .medicines {
      background: url("../../assets/icons/help/medicines.svg") no-repeat center;
    }

    .collars_leashes {
      background: url("../../assets/icons/help/collars_or_leashes.svg") no-repeat center;
    }

    .sleeping_areas {
      background: url("../../assets/icons/help/sleeping_area.svg") no-repeat center;
    }
  }
}

.donation {
  background-color: $color-light-l;
  user-select: none; //us
}

.donation__content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 80px 0 100px 0;
  column-gap: 30px;
  @media (max-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  @media (max-width: $tablet-width) {
    margin: 42px 0;
    text-align: center;
    row-gap: 42px;
  }


  .donation__content__img {
    display: flex;
    align-items: center;
    @media (max-width: $desktop-width) {
      order: 2;
    }
    @media (max-width: $tablet-width) {
      max-width: 260px;
      min-height: 135.2px;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }


  .donation__content__text {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width: $tablet-width) {
      align-items: center;
      :last-child {
        text-align: justify;
      }
      max-width: 300px;
    }

    .donation__content__text__title {
      font: {
        weight: 400;
        style: normal;
        size: 3.5rem;
      };
      max-width: 300px;
      line-height: 130%;
      letter-spacing: 0.06em;
      margin: unset;
      color: $color-dark-l;
      height: 90px;
      @media (max-width: $tablet-width) {
        font: {
          size: 2.5rem;
        };
        max-width: 220px;
        height: 64px;
      }
    }

    .donation__content__text__subtitle {
      font: {
        weight: 400;
        style: normal;
        size: 1.5rem;
      };
      line-height: 110%;
      letter-spacing: 0.06em;
      margin: unset;
      color: $color-dark-l;
      height: 17px;
      @media (max-width: $tablet-width) {
        font: {
          size: 1.5rem;
        };
        line-height: 160%;
        letter-spacing: unset;
        height: unset;
      }
    }


    .donation__content__text__cardInfo {
      display: flex;
      max-width: 349px;
      height: 43px;
      background-color: $color-primary;
      border-radius: 9px;
      padding: 10px 14px 10px 15px;
      column-gap: 15px;
      cursor: pointer;
      transition: background-color 0.3s;
      -webkit-tap-highlight-color: transparent;
      @media (max-width: $tablet-width) {
        padding: 10px 16px 10px 15px;
      }


      .donation__content__text__cardInfo__icon {
        img {
          cursor: pointer;
        }
      }

      .donation__content__text__cardInfo__number {
        user-select: text; //usn
        font: {
          weight: 400;
          style: normal;
          size: 2rem;
        };
        line-height: 115%;
        letter-spacing: 0.06em;
        margin: unset;
        color: $color-dark-l;
        @media (max-width: $tablet-width) {
          font: {
            size: 1.5rem;
          };
          line-height: 110%;
          align-self: center;
        }
      }

      &:hover {
        background-color: $color-primary-light;
      }
    }

    .donation__content__text__description {
      font: {
        family: $font-Arial;
        weight: 400;
        style: italic;
        size: 1.2rem;
      };
      line-height: 150%;
      color: $color-dark-m;
      @media (max-width: $tablet-width) {
        padding: 0 10px;
      }
    }
  }
}

.footer {
  background: url('../../assets/icons/textures/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  //background: url("../../assets/images/footer/footer-gradient-background.jpg") no-repeat center;
  //background-size: 100%;
  width: 100%;
}

.footer__content {
  display: flex;
  margin: 40px 40px 0 40px;
  width: 100%;
  justify-content: space-between;
  @media (max-width: $desktop-width) {
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
    column-gap: 60px;
    justify-content: center;
    row-gap: 65px;
    max-width: 708px;
  }
  @media (max-width: $tablet-width) {
    text-align: center;
    row-gap: 40px;
    max-width: 280px;
  }


  .footer__content__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 16px 0 0 0;
    @media (max-width: $desktop-width) {
      margin: unset;
    }
    @media (max-width: $tablet-width) {
      align-items: center;
    }


    .footer__content__contacts_title {
      user-select: none; //us
      font: {
        weight: 400;
        size: 3.5rem;
        style: normal;
      };
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-light-xl;
      max-width: 280px;
      margin: unset;
      @media (max-width: $desktop-width) {
        height: 90px;
      }
      @media (max-width: $tablet-width) {
        font: {
          size: 2.5rem;
        };
        height: 64px;
      }
    }

    .footer__content__contacts_mail__link {
      display: flex;
      max-width: 251px;
      column-gap: 20px;
      align-items: center;


      .footer__content__contacts_mail__link__logo {
        min-height: 32px;
        min-width: 40px;
        background: url("../../assets/icons/footer/mail.svg") no-repeat center;
        cursor: pointer;
      }

      .footer__content__contacts_mail__link__text {
        cursor: pointer;
        font: {
          weight: 400;
          size: 2rem;
          style: normal;
        };
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
        margin: unset;
      }
    }

    .footer__content__contacts_phone__link {
      display: flex;
      max-width: 251px;
      column-gap: 20px;
      align-items: center;

      .footer__content__contacts_phone__link__logo {
        min-height: 32px;
        min-width: 40px;
        background: url("../../assets/icons/footer/phone.svg") no-repeat center;
        cursor: pointer;
      }

      .footer__content__contacts_phone__link__text {
        cursor: pointer;
        font: {
          weight: 400;
          size: 2rem;
          style: normal;
        };
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
        margin: unset;
      }
    }
  }


  .footer__content__locations {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    margin: 16px 0 0 0;
    @media (max-width: $desktop-width) {
      margin: unset;
    }
    @media (max-width: $tablet-width) {
      align-items: center;
      row-gap: 40px;
    }


    .footer__content__locations__title {
      user-select: none; //us
      font: {
        weight: 400;
        size: 3.5rem;
        style: normal;
      };
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-light-xl;
      max-width: 270px;
      margin: unset;
      @media (max-width: $desktop-width) {
        height: 90px;
      }
      @media (max-width: $tablet-width) {
        font: {
          size: 2.5rem;
        };
        height: 64px;
      }
    }


    .footer__content__locations__address__link {
      display: flex;
      width: 302px;
      column-gap: 20px;
      align-items: center;

      .footer__content__locations__address__link__logo {
        min-height: 32px;
        min-width: 22px;
        background: url("../../assets/icons/footer/pin.svg") no-repeat center;
        cursor: pointer;
      }

      .footer__content__locations__address__link__text {
        cursor: pointer;
        font: {
          weight: 400;
          size: 2rem;
          style: normal;
        };
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
        margin: unset;
        @media (max-width: $tablet-width) {
          text-align: left;
        }
      }
    }
  }

  .footer__content__puppy {
    img {
      padding: 0;
      display: block;
    }

    @media (max-width: $tablet-width) {
      max-width: 260px;
      min-height: 269px;
      img {
        width: 100%;
      }
    }
  }
}

.modal-card {
  z-index: 3;
  width: 900px;
  position: fixed;
  display: none;
  background: $color-light-s;
  border-radius: 9px;
  column-gap: 30px;
  top: 50vh;
  transform: translateY(-50%);

  &:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  @media (max-width: $desktop-width) {
    column-gap: 10px;
    width: 630px;
    height: 350px;
  }
  @media (max-width: $tablet-width) {
    height: unset;
    width: 240px;
    justify-content: center;
    column-gap: unset;
  }

  &.openCard {
    display: flex;
  }

  .modal-card__img {
    align-self: center;

    img {
      display: block;
      height: 500px;
      width: 500px;
      border-radius: 9px 0 0 9px;
      @media (max-width: $desktop-width) {
        width: 350px;
        height: 350px;
      }
      @media (max-width: $tablet-width) {
        display: none;
      }
    }
  }

  .modal-card__text {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 20px 0;
    @media (max-width: $desktop-width) {
      margin: 10px 10px 10px 0;
    }
    @media (max-width: $tablet-width) {
      margin: 10px;
    }


    .modal-card__text__title {
      margin-bottom: 10px;
      @media (max-width: $tablet-width) {
        text-align: center;
      }
      font: {
        family: $font-Georgia;
        style: normal;
        weight: 400;
        size: 3.5rem;
      };
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-4xl;
    }

    .modal-card__text__subtitle {
      font: {
        family: $font-Georgia;
        style: normal;
        weight: 400;
        size: 2rem;
      };
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $color-dark-4xl;
      @media (max-width: $tablet-width) {
        text-align: center;
      }
    }

    .modal-card__text__description {
      margin: 40px 0;
      max-width: 350px;
      font: {
        family: $font-Georgia;
        style: normal;
        weight: 400;
        size: 1.5rem;
      };
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-dark-4xl;
      @media (max-width: $desktop-width) {
        max-width: 260px;
        margin: 19px 0;
        font: {
          size: 1.3rem;
        };
      }
      @media (max-width: $tablet-width) {
        text-align: justify;
        max-width: 220px;
      }
    }

    .modal-card__text__list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      list-style: none;
      margin: unset;
      padding: unset;
      @media (max-width: $desktop-width) {
        row-gap: 5px;
      }
    }

    .modal-card__text__list__item {
      display: flex;
      position: relative;

      p {
        margin: 0 0 0 15px;
      }

      &::before {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: $color-primary;
        content: "";
        display: block;
        position: absolute;
        top: 6px;
      }

      .modal-card__text__list__item__key {

        font: {
          family: $font-Georgia;
          style: normal;
          weight: 700;
          size: 1.5rem;
        };
        line-height: 110%;
        letter-spacing: 0.06em;
      }

      .modal-card__text__list__item__value {
        font: {
          family: $font-Georgia;
          style: normal;
          weight: 400;
          size: 1.5rem;
        };
        line-height: 110%;
        letter-spacing: 0.06em;
      }
    }
  }

  .modal-card__button {
    @include button(52px);
    position: absolute;
    top: -52px;
    right: -42px;
    background: url("../../assets/icons/popup/cross.svg") no-repeat center;
    @media (max-width: $tablet-width) {
      right: -30px;
    }

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }

    &.modalMouseOver {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}