@import url("../../assets/fonts/fonts.css");
* {
  cursor: default;
}

html {
  font-size: 10px;
  font-family: Georgia, Serif;
  scroll-behavior: smooth;
}
html.open {
  overflow: hidden;
}
html.openCard {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.site {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  user-select: none;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .wrapper {
    width: 100%;
  }
}

.wrapper_header {
  padding: 0 40px;
  margin-top: 60px;
}
@media (max-width: 1279px) {
  .wrapper_header {
    padding: 0 30px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper_header {
    padding: 0 53px 0 10px;
    margin-top: 30px;
  }
}

.logo {
  margin-right: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: #FFFFFF;
  text-align: center;
}
.logo .logo__title {
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (max-width: 1279px) {
  .logo .logo__title {
    height: 35px;
  }
}
.logo .logo__subtitle {
  cursor: pointer;
  font-size: 1.3rem;
  font-family: Arial, Sans-serif;
  line-height: 115%;
  letter-spacing: 0.1em;
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .navigation {
    z-index: 3;
    align-items: start;
    position: absolute;
    right: -320px;
    transition: right 0.5s, background 0.5s;
    height: 120vh;
    top: 0;
    background: #292929;
  }
  .navigation.open {
    right: 0;
  }
}

.modal {
  position: fixed;
  visibility: hidden;
  min-height: 580px;
  width: 100%;
  height: 120vh;
  background: transparent;
  z-index: 3;
  transition: background 0.4s, visibility 0.4s;
}
@media (max-width: 767px) {
  .modal {
    display: unset;
    z-index: 3;
  }
  .modal.open {
    visibility: visible;
    background: rgba(41, 41, 41, 0.6);
  }
}
.modal.openCard {
  visibility: visible;
  position: fixed;
  background: rgba(41, 41, 41, 0.6);
}

.navigation__logo {
  display: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 30px;
  left: 10px;
  margin-right: auto;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 767px) {
  .navigation__logo {
    display: unset;
    z-index: 3;
  }
}
.navigation__logo .navigation__logo__title {
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (max-width: 767px) {
  .navigation__logo .navigation__logo__title {
    height: 35px;
  }
}
.navigation__logo .navigation__logo__subtitle {
  cursor: pointer;
  font-size: 1.3rem;
  font-family: Arial, Sans-serif;
  line-height: 115%;
  letter-spacing: 0.1em;
}

.navigation__menu {
  display: flex;
  list-style: none;
  column-gap: 36px;
  font-size: 1.5rem;
  font-family: Arial, Sans-serif;
  line-height: 160%;
  margin: unset;
  height: 27px;
}
.navigation__menu .navigation__item {
  position: relative;
  color: #CDCDCD;
  max-width: max-content;
}
.navigation__menu .navigation__item a {
  transition: color 0.3s;
}
.navigation__menu .navigation__item:not(:first-child) a:hover {
  color: #FAFAFA;
}
.navigation__menu .navigation__item:first-child::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.navigation__menu .navigation__item:first-child {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: #FAFAFA;
}
@media (max-width: 767px) {
  .navigation__menu .navigation__item:first-child {
    height: 54px;
  }
}
@media (max-width: 767px) {
  .navigation__menu .navigation__item {
    height: 51px;
  }
}
@media (max-width: 767px) {
  .navigation__menu {
    padding: unset;
    flex-direction: column;
    width: 320px;
    font-size: 3.2rem;
    row-gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: start;
    margin-top: 248px;
    height: calc(100vh - 248px);
    overflow-y: auto;
  }
}
@media (max-width: 767px) and (max-height: 450px) {
  .navigation__menu {
    margin-top: 140px;
    height: calc(100vh - 140px);
  }
}

.hamburger {
  -webkit-tap-highlight-color: transparent;
  display: none;
  max-height: 22px;
  width: 30px;
  flex-direction: column;
  row-gap: 8px;
  transition: transform 0.5s;
  cursor: pointer;
}
.hamburger.open {
  transform: rotate(90deg);
  margin-right: 1px;
}
.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  cursor: pointer;
}
@media (max-width: 767px) {
  .hamburger {
    display: flex;
    align-self: center;
    z-index: 3;
  }
}

.button_primary {
  background-color: #F1CDB3;
}

.button_transparent {
  background-color: transparent;
}

.main {
  width: 100%;
}

.start-screen {
  user-select: none;
  background: url("../../assets/icons/textures/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
@media (max-width: 1279px) {
  .start-screen .wrapper_start-screen {
    display: flex;
    justify-content: center;
  }
}
.start-screen .start-screen__content {
  margin: 180px 40px 0 40px;
  display: flex;
  column-gap: 42px;
}
@media (max-width: 1279px) {
  .start-screen .start-screen__content {
    margin: 150px 30px 0 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 100px;
  }
  .start-screen .start-screen__content :last-child {
    align-self: end;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .start-screen .start-screen__content {
    row-gap: 105px;
    margin: 150px 10px 0 10px;
  }
}
.start-screen .start-screen__content__img img {
  display: block;
}
@media (max-width: 1279px) {
  .start-screen .start-screen__content__img img {
    max-height: 593px;
  }
}
@media (max-width: 767px) {
  .start-screen .start-screen__content__img img {
    max-height: 272px;
  }
}
.start-screen .start-screen__content__text {
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
@media (max-width: 1279px) {
  .start-screen .start-screen__content__text {
    margin: unset;
  }
  .start-screen .start-screen__content__text :last-child {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .start-screen .start-screen__content__text {
    text-align: center;
  }
}
.start-screen .start-screen__content__text .start-screen__content__text__title {
  max-width: 310px;
  font-weight: 400;
  font-size: 4.4rem;
  font-family: Georgia, Serif;
  font-style: normal;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 1279px) {
  .start-screen .start-screen__content__text .start-screen__content__text__title {
    height: 114px;
  }
}
@media (max-width: 767px) {
  .start-screen .start-screen__content__text .start-screen__content__text__title {
    max-width: 260px;
    height: 64px;
    font-size: 2.5rem;
    letter-spacing: 0.06em;
  }
  .start-screen .start-screen__content__text .start-screen__content__text__title:first-child {
    align-self: center;
  }
}
.start-screen .start-screen__content__text .start-screen__content__text__subtitle {
  max-width: 460px;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Arial, Sans-serif;
  font-style: normal;
  line-height: 160%;
  color: #CDCDCD;
}
@media (max-width: 767px) {
  .start-screen .start-screen__content__text .start-screen__content__text__subtitle {
    max-width: 300px;
  }
}
.start-screen .start-screen__content__text .start-screen__content__text__button {
  width: 207px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, Serif;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.start-screen .start-screen__content__text .start-screen__content__text__button:hover {
  background-color: #FDDCC4;
}

.about__content {
  user-select: none;
  margin: 80px 40px 100px 40px;
  display: flex;
  column-gap: 120px;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1279px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: center;
    column-gap: unset;
    row-gap: 80px;
  }
}
@media (max-width: 767px) {
  .about__content {
    margin: 42px 10px 42px 10px;
    padding: 0 15px;
    row-gap: 42px;
  }
}

.about__content__img img {
  display: block;
}
@media (max-width: 767px) {
  .about__content__img {
    max-width: 260px;
  }
  .about__content__img img {
    width: 100%;
  }
}

.about__content__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 14px 0;
  height: 380px;
}
@media (max-width: 1279px) {
  .about__content__text {
    margin: unset;
  }
}
@media (max-width: 767px) {
  .about__content__text {
    row-gap: unset;
    height: unset;
    align-items: center;
    max-width: 270px;
  }
  .about__content__text :nth-child(2) {
    margin-bottom: 22px;
  }
}
.about__content__text .about__content__text__title {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 370px;
  margin: unset;
}
@media (max-width: 1279px) {
  .about__content__text .about__content__text__title {
    height: 90px;
  }
}
@media (max-width: 767px) {
  .about__content__text .about__content__text__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
    max-width: 290px;
    height: 64px;
  }
}
.about__content__text .about__content__text__description {
  font-family: Arial, Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  max-width: 430px;
}
@media (max-width: 767px) {
  .about__content__text {
    text-align: justify;
  }
  .about__content__text :last-child {
    height: 239px;
  }
}

.pets {
  background-color: #F6F6F6;
  user-select: none;
}

.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 40px 100px 40px;
  row-gap: 60px;
  width: 100%;
}
@media (max-width: 1279px) {
  .pets__content {
    margin: 80px 30px 0 30px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .pets__content {
    margin: 42px 0 0 0;
    row-gap: 42px;
    padding-bottom: 42px;
  }
}
.pets__content .pets__content__title {
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  max-width: 400px;
  text-align: center;
  letter-spacing: 0.06em;
  margin: unset;
}
@media (max-width: 767px) {
  .pets__content .pets__content__title {
    font-size: 2.5rem;
    height: 64px;
  }
}
.pets__content .pets__content__button {
  width: 261px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, Serif;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.pets__content .pets__content__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__content__slider__all-cards {
  display: flex;
  column-gap: 90px;
}
@media (max-width: 1279px) {
  .pets__content__slider__all-cards {
    column-gap: 40px;
  }
}

.pets__content__slider {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .pets__content__slider {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 37px;
    max-width: 270px;
  }
}
.pets__content__slider .pets__content__slider__button {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, Serif;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.pets__content__slider .pets__content__slider__button:first-child {
  background: url("../../assets/icons/pets/arrow_left.svg") no-repeat center;
  margin-right: 53px;
}
.pets__content__slider .pets__content__slider__button:last-child {
  background: url("../../assets/icons/pets/arrow_right.svg") no-repeat center;
  margin-left: 53px;
}
@media (max-width: 1279px) {
  .pets__content__slider .pets__content__slider__button:first-child {
    margin-right: 12px;
  }
  .pets__content__slider .pets__content__slider__button:last-child {
    margin-left: 12px;
  }
}
@media (max-width: 767px) {
  .pets__content__slider .pets__content__slider__button:first-child {
    order: 2;
    margin: 20px 0 0 0;
    padding: unset;
  }
  .pets__content__slider .pets__content__slider__button:last-child {
    order: 3;
    margin: 20px 0 0 0;
    padding: unset;
  }
}
.pets__content__slider .pets__content__slider__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@keyframes sliderNext {
  49% {
    transform: translateX(400%);
  }
  50% {
    transform: translateX(-400%);
  }
}
@keyframes sliderPrevious {
  49% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(400%);
  }
}
@media (max-width: 1279px) {
  @keyframes sliderNext {
    49% {
      transform: translateX(266%);
    }
    50% {
      transform: translateX(-266%);
    }
  }
  @keyframes sliderPrevious {
    49% {
      transform: translateX(-266%);
    }
    50% {
      transform: translateX(266%);
    }
  }
}
@media (max-width: 767px) {
  @keyframes sliderNext {
    49% {
      transform: translateX(133%);
    }
    50% {
      transform: translateX(-133%);
    }
  }
  @keyframes sliderPrevious {
    49% {
      transform: translateX(-133%);
    }
    50% {
      transform: translateX(133%);
    }
  }
}
.pets__content__slider .pets__content__slider__card {
  background-color: #FAFAFA;
  height: 435px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  border-radius: 9px;
  transition: background-color 0.3s, animation 0.8s;
}
@media (max-width: 1279px) {
  .pets__content__slider .pets__content__slider__card:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__content__slider .pets__content__slider__card:not(:first-child) {
    display: none;
  }
}
.pets__content__slider .pets__content__slider__card .pets__content__slider__card__img img {
  height: 270px;
  width: 270px;
  display: block;
  border-radius: 9px 9px 0 0;
}
.pets__content__slider .pets__content__slider__card .pets__content__slider__card__name {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  user-select: text;
}
.pets__content__slider .pets__content__slider__card .pets__content__slider__card__button {
  width: 187px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, Serif;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.pets__content__slider .pets__content__slider__card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__content__slider .pets__content__slider__card:hover img {
  cursor: pointer;
}
.pets__content__slider .pets__content__slider__card:hover .pets__content__slider__card__name {
  cursor: pointer;
}
.pets__content__slider .pets__content__slider__card:hover .pets__content__slider__card__button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.help__content {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px 40px 100px 40px;
}
@media (max-width: 1279px) {
  .help__content {
    max-width: 630px;
    margin: 80px auto 100px auto;
  }
}
@media (max-width: 767px) {
  .help__content {
    max-width: 630px;
    margin: 42px auto 42px auto;
    row-gap: 42px;
  }
}
.help__content .help__content__title {
  height: 90px;
  font-weight: 400;
  font-size: 3.5rem;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 310px;
  text-align: center;
  color: #545454;
  margin: 0 0 60px 0;
}
@media (max-width: 767px) {
  .help__content .help__content__title {
    font-size: 2.5rem;
    max-width: 260px;
    margin: unset;
    height: 64px;
  }
}
.help__content .help__content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
}
@media (max-width: 1279px) {
  .help__content .help__content__list {
    column-gap: 60px;
  }
}
@media (max-width: 767px) {
  .help__content .help__content__list {
    gap: 30px;
    max-width: 290px;
    justify-content: start;
  }
}
.help__content .help__content__list__card {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .help__content .help__content__list__card {
    width: 170px;
  }
}
@media (max-width: 767px) {
  .help__content .help__content__list__card {
    height: 87px;
    width: 130px;
  }
}
.help__content .help__content__list__card .help__content__list__card__image {
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  .help__content .help__content__list__card .help__content__list__card__image {
    width: 50px;
    height: 50px;
    background-size: contain !important;
  }
}
.help__content .help__content__list__card .help__content__list__card__name {
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: unset;
}
@media (max-width: 767px) {
  .help__content .help__content__list__card .help__content__list__card__name {
    font-size: 1.5rem;
  }
}
.help__content .help__content__list__card .pet_food {
  background: url("../../assets/icons/help/pet_food.svg") no-repeat center;
}
.help__content .help__content__list__card .transportation {
  background: url("../../assets/icons/help/transportation.svg") no-repeat center;
}
.help__content .help__content__list__card .toys {
  background: url("../../assets/icons/help/toys.svg") no-repeat center;
}
.help__content .help__content__list__card .bowls_and_cups {
  background: url("../../assets/icons/help/bowls_and_cups.svg") no-repeat center;
}
.help__content .help__content__list__card .shampoos {
  background: url("../../assets/icons/help/shampoos.svg") no-repeat center;
}
.help__content .help__content__list__card .vitamins {
  background: url("../../assets/icons/help/vitamins.svg") no-repeat center;
}
.help__content .help__content__list__card .medicines {
  background: url("../../assets/icons/help/medicines.svg") no-repeat center;
}
.help__content .help__content__list__card .collars_leashes {
  background: url("../../assets/icons/help/collars_or_leashes.svg") no-repeat center;
}
.help__content .help__content__list__card .sleeping_areas {
  background: url("../../assets/icons/help/sleeping_area.svg") no-repeat center;
}

.donation {
  background-color: #F6F6F6;
  user-select: none;
}

.donation__content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 80px 0 100px 0;
  column-gap: 30px;
}
@media (max-width: 1279px) {
  .donation__content {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
}
@media (max-width: 767px) {
  .donation__content {
    margin: 42px 0;
    text-align: center;
    row-gap: 42px;
  }
}
.donation__content .donation__content__img {
  display: flex;
  align-items: center;
}
@media (max-width: 1279px) {
  .donation__content .donation__content__img {
    order: 2;
  }
}
@media (max-width: 767px) {
  .donation__content .donation__content__img {
    max-width: 260px;
    min-height: 135.2px;
    align-items: center;
  }
  .donation__content .donation__content__img img {
    width: 100%;
  }
}
.donation__content .donation__content__text {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text {
    align-items: center;
    max-width: 300px;
  }
  .donation__content .donation__content__text :last-child {
    text-align: justify;
  }
}
.donation__content .donation__content__text .donation__content__text__title {
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  max-width: 300px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: unset;
  color: #545454;
  height: 90px;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text .donation__content__text__title {
    font-size: 2.5rem;
    max-width: 220px;
    height: 64px;
  }
}
.donation__content .donation__content__text .donation__content__text__subtitle {
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: unset;
  color: #545454;
  height: 17px;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text .donation__content__text__subtitle {
    font-size: 1.5rem;
    line-height: 160%;
    letter-spacing: unset;
    height: unset;
  }
}
.donation__content .donation__content__text .donation__content__text__cardInfo {
  display: flex;
  max-width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 14px 10px 15px;
  column-gap: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text .donation__content__text__cardInfo {
    padding: 10px 16px 10px 15px;
  }
}
.donation__content .donation__content__text .donation__content__text__cardInfo .donation__content__text__cardInfo__icon img {
  cursor: pointer;
}
.donation__content .donation__content__text .donation__content__text__cardInfo .donation__content__text__cardInfo__number {
  user-select: text;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: unset;
  color: #545454;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text .donation__content__text__cardInfo .donation__content__text__cardInfo__number {
    font-size: 1.5rem;
    line-height: 110%;
    align-self: center;
  }
}
.donation__content .donation__content__text .donation__content__text__cardInfo:hover {
  background-color: #FDDCC4;
}
.donation__content .donation__content__text .donation__content__text__description {
  font-family: Arial, Sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}
@media (max-width: 767px) {
  .donation__content .donation__content__text .donation__content__text__description {
    padding: 0 10px;
  }
}

.footer {
  background: url("../../assets/icons/textures/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  width: 100%;
}

.footer__content {
  display: flex;
  margin: 40px 40px 0 40px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .footer__content {
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
    column-gap: 60px;
    justify-content: center;
    row-gap: 65px;
    max-width: 708px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    text-align: center;
    row-gap: 40px;
    max-width: 280px;
  }
}
.footer__content .footer__content__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 16px 0 0 0;
}
@media (max-width: 1279px) {
  .footer__content .footer__content__contacts {
    margin: unset;
  }
}
@media (max-width: 767px) {
  .footer__content .footer__content__contacts {
    align-items: center;
  }
}
.footer__content .footer__content__contacts .footer__content__contacts_title {
  user-select: none;
  font-weight: 400;
  font-size: 3.5rem;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-width: 280px;
  margin: unset;
}
@media (max-width: 1279px) {
  .footer__content .footer__content__contacts .footer__content__contacts_title {
    height: 90px;
  }
}
@media (max-width: 767px) {
  .footer__content .footer__content__contacts .footer__content__contacts_title {
    font-size: 2.5rem;
    height: 64px;
  }
}
.footer__content .footer__content__contacts .footer__content__contacts_mail__link {
  display: flex;
  max-width: 251px;
  column-gap: 20px;
  align-items: center;
}
.footer__content .footer__content__contacts .footer__content__contacts_mail__link .footer__content__contacts_mail__link__logo {
  min-height: 32px;
  min-width: 40px;
  background: url("../../assets/icons/footer/mail.svg") no-repeat center;
  cursor: pointer;
}
.footer__content .footer__content__contacts .footer__content__contacts_mail__link .footer__content__contacts_mail__link__text {
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: unset;
}
.footer__content .footer__content__contacts .footer__content__contacts_phone__link {
  display: flex;
  max-width: 251px;
  column-gap: 20px;
  align-items: center;
}
.footer__content .footer__content__contacts .footer__content__contacts_phone__link .footer__content__contacts_phone__link__logo {
  min-height: 32px;
  min-width: 40px;
  background: url("../../assets/icons/footer/phone.svg") no-repeat center;
  cursor: pointer;
}
.footer__content .footer__content__contacts .footer__content__contacts_phone__link .footer__content__contacts_phone__link__text {
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: unset;
}
.footer__content .footer__content__locations {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  margin: 16px 0 0 0;
}
@media (max-width: 1279px) {
  .footer__content .footer__content__locations {
    margin: unset;
  }
}
@media (max-width: 767px) {
  .footer__content .footer__content__locations {
    align-items: center;
    row-gap: 40px;
  }
}
.footer__content .footer__content__locations .footer__content__locations__title {
  user-select: none;
  font-weight: 400;
  font-size: 3.5rem;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-width: 270px;
  margin: unset;
}
@media (max-width: 1279px) {
  .footer__content .footer__content__locations .footer__content__locations__title {
    height: 90px;
  }
}
@media (max-width: 767px) {
  .footer__content .footer__content__locations .footer__content__locations__title {
    font-size: 2.5rem;
    height: 64px;
  }
}
.footer__content .footer__content__locations .footer__content__locations__address__link {
  display: flex;
  width: 302px;
  column-gap: 20px;
  align-items: center;
}
.footer__content .footer__content__locations .footer__content__locations__address__link .footer__content__locations__address__link__logo {
  min-height: 32px;
  min-width: 22px;
  background: url("../../assets/icons/footer/pin.svg") no-repeat center;
  cursor: pointer;
}
.footer__content .footer__content__locations .footer__content__locations__address__link .footer__content__locations__address__link__text {
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: unset;
}
@media (max-width: 767px) {
  .footer__content .footer__content__locations .footer__content__locations__address__link .footer__content__locations__address__link__text {
    text-align: left;
  }
}
.footer__content .footer__content__puppy img {
  padding: 0;
  display: block;
}
@media (max-width: 767px) {
  .footer__content .footer__content__puppy {
    max-width: 260px;
    min-height: 269px;
  }
  .footer__content .footer__content__puppy img {
    width: 100%;
  }
}

.modal-card {
  z-index: 3;
  width: 900px;
  position: fixed;
  display: none;
  background: #FAFAFA;
  border-radius: 9px;
  column-gap: 30px;
  top: 50vh;
  transform: translateY(-50%);
}
.modal-card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media (max-width: 1279px) {
  .modal-card {
    column-gap: 10px;
    width: 630px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .modal-card {
    height: unset;
    width: 240px;
    justify-content: center;
    column-gap: unset;
  }
}
.modal-card.openCard {
  display: flex;
}
.modal-card .modal-card__img {
  align-self: center;
}
.modal-card .modal-card__img img {
  display: block;
  height: 500px;
  width: 500px;
  border-radius: 9px 0 0 9px;
}
@media (max-width: 1279px) {
  .modal-card .modal-card__img img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .modal-card .modal-card__img img {
    display: none;
  }
}
.modal-card .modal-card__text {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 20px 0;
}
@media (max-width: 1279px) {
  .modal-card .modal-card__text {
    margin: 10px 10px 10px 0;
  }
}
@media (max-width: 767px) {
  .modal-card .modal-card__text {
    margin: 10px;
  }
}
.modal-card .modal-card__text .modal-card__text__title {
  margin-bottom: 10px;
  font-family: Georgia, Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 767px) {
  .modal-card .modal-card__text .modal-card__text__title {
    text-align: center;
  }
}
.modal-card .modal-card__text .modal-card__text__subtitle {
  font-family: Georgia, Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 767px) {
  .modal-card .modal-card__text .modal-card__text__subtitle {
    text-align: center;
  }
}
.modal-card .modal-card__text .modal-card__text__description {
  margin: 40px 0;
  max-width: 350px;
  font-family: Georgia, Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 1279px) {
  .modal-card .modal-card__text .modal-card__text__description {
    max-width: 260px;
    margin: 19px 0;
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .modal-card .modal-card__text .modal-card__text__description {
    text-align: justify;
    max-width: 220px;
  }
}
.modal-card .modal-card__text .modal-card__text__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  margin: unset;
  padding: unset;
}
@media (max-width: 1279px) {
  .modal-card .modal-card__text .modal-card__text__list {
    row-gap: 5px;
  }
}
.modal-card .modal-card__text .modal-card__text__list__item {
  display: flex;
  position: relative;
}
.modal-card .modal-card__text .modal-card__text__list__item p {
  margin: 0 0 0 15px;
}
.modal-card .modal-card__text .modal-card__text__list__item::before {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #F1CDB3;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
}
.modal-card .modal-card__text .modal-card__text__list__item .modal-card__text__list__item__key {
  font-family: Georgia, Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.modal-card .modal-card__text .modal-card__text__list__item .modal-card__text__list__item__value {
  font-family: Georgia, Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.modal-card .modal-card__button {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, Serif;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: -52px;
  right: -42px;
  background: url("../../assets/icons/popup/cross.svg") no-repeat center;
}
@media (max-width: 767px) {
  .modal-card .modal-card__button {
    right: -30px;
  }
}
.modal-card .modal-card__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.modal-card .modal-card__button.modalMouseOver {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

/*# sourceMappingURL=style.css.map */
